.promo {
  padding-bottom: 120px;
}

.promo__top {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.promo__image-wrapper {
  position: relative;
}

.promo__title {
    position: absolute;
    top: 4px; 
    left: 50%;
    transform: translateX(-50%); 
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    z-index: 10; 
}

.promo__images {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
    z-index: 1;
}

.promo__image {
  width: 100%;
  height: auto;
  display: block;
}

.promo__image--melon {
    max-width: 792px;
    width: 100%;
    height: 502px;
}

.promo__image--blueberry {
    max-width: 400px;
    width: 100%;
    height: 502px;
}

.promo__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 80px;
}

.promo__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $promo-form-color;
    border-radius: 100px;
    background-color: transparent; 
    border: 1px solid $promo-form-border-color;
    max-width: 292px;
    height: 48px;
    padding-left: 20px; 
    margin: 60px auto;
    margin-bottom: 152px;
    overflow: hidden;
}

.promo__input {
    background-color: transparent; 
    color: $promo-input-text-color;
    border: none;
    outline: none;
    flex: 1;
}

.promo__input::placeholder {
    color: $promo-input-placeholder-color;
}

.promo__button {
    background-color: $promo-button-color;
    color: $second-main-color;
    width: 102px;
    height: 100%;
    height: 48px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.promo__button:hover {
    background-color: $second-main-color;
    color: $promo-button-hover-text-color;
}

footer {
  background-color: $second-main-color;
  color: $main-color;
  min-height: 450px; 
  display: flex;
  align-items: center; 
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  height: 100%;
}


.footer__girl-img {
  width: 349px;
  height: 179px;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
}


.footer__list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer__item {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.footer__item:hover {
  color: crimson;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px; 
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  border: 1px solid $main-color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $main-color;
  transition: background-color 0.3s ease;
}

.footer__social-link:hover {
  background-color: $footer-link-text-color;
}

.footer__social-logo{
  width: 16px;
  height: 16px;
  fill: $main-color;
}

.footer__social-icon {
  width: 28px;
  height: 28px;
  fill: $main-color;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  gap: 20px;
}