* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -4;
    color: $second-main-color;
    background-color: $main-color;
}

.container {
    max-width: 1215px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto
}