@media (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .to-order__card {
    max-width: 389px;
  }

  .to-order__tittel {
    max-width: 624px;
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }

  .to-order__text {
    max-width: 509px;
    width: 100%;
    height: auto;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .cardslist__item-kiwi {
    display: flex;
  }

  .to-order__tittel {
    max-width: 624px;
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }

  .to-order__text {
    max-width: 509px;
    width: 100%;
    height: auto;
    font-size: 14px;
  }

  .to-order__cardlist {
    display: flex;
    gap: 20px;
  }
  
  .to-order__img {
    max-width: 860px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
