$main-color: #AE1332;
$second-main-color: #FFFFFF;
$transperent-color: rgba(0, 0, 0, 0);
$fruits-shadow-color: #0000;
$strawbery-color: #F8766B;
$banana-color: #EDD251;
$watermelon-color: #9DC262;
$lime-color: #BFD663;
$aple-color: #E93F29;
$peach-color: #DB4F4B;
$plumus-color: #9B5366;
$orange-color: #F47F4C;
$kiwi-color: #98B37E;
$toorder-card-text-color: #0000;
$toorder-second-card-color: #A1C864;
$toorder-third-card-color: #F5CE13;
$modals-title-color: #B91C3A;
$modals-strawbery-color: #F57A6F;
$modals-aple-color: #E6C84F;
$modals-fruits-color: #94C060;
$modals-input-border-color: #CCC;
$modals-form-button-color: #9DC45A;
$promo-form-color: #D9D9D9;
$promo-form-border-color: rgba(255, 255, 255, 0.3);
$promo-input-text-color: rgba(255, 255, 255, 0.38);
$promo-input-placeholder-color: rgba(255, 255, 255, 0.5);
$promo-button-color: #A4CB66;
$promo-button-hover-text-color: #9DC262;
$footer-link-text-color: rgba(174, 19, 50, 0.1);